<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>测试h1</h1>
    <p>测试页面</p>
    <ul id="template">
        <%=name%>
    </ul>



    <script type="text/javascript" src="../js/common/require.js"></script>
    <script type="text/javascript" src="../js/common/require-config.js"></script>
    <script type="text/javascript">
        (function(){
            requirejs.config({baseUrl:"../"});
            require(["js/modules/index"]);
            
        })()

    </script>
</body>
</html>